---

---
@charset "utf-8";

// Our variables
$base-font-family: 'Noto Serif', serif;
$base-font-size:   16px;
$small-font-size:  12px;
$base-line-height: 1.5;

$text-color:       #222222;
$background-color: #fdfdfd;
$brand-color:      #4169E1;
$brand-color-dark:  darken($brand-color, 10%);

$grey-color:       #d5d5d5;
$grey-color-light: #ededed;
$grey-color-dark:  darken($grey-color, 20%);

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
     -moz-box-sizing: $box-model;
          box-sizing: $box-model;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "syntax-highlighting" 
;
