<head>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <p class="site-description">{{ site.description }}</p>
    
  </div>

</header>

<script>
  $(function() {
    $(window).scroll(function() {
      if($(this).scrollTop() > 10)
        $('.site-header, .page-content').addClass('smaller');
      else 
        $('.site-header, .page-content').removeClass('smaller');
    });
  });
</script>