<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <p class="site-description">{{ site.description }}</p>
  </div>

</header>

<script>
  $(function(){
    var scroll = 0;
    $(window).scroll(function(event){
        var moved = $(this).scrollTop();
        if (moved > scroll){
           $('.site-header').addClass('smaller')
           $('.page-content').addClass('smaller')
        }
        else {
          $('.site-header').removeClass('smaller')
          $('.page-content').removeClass('smaller')
        }
        scroll = moved;
    });
  });
</script>

