/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: $brand-color-dark;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color;
  border-radius: 3px;
  background-color: $grey-color-light;
  @include box-sizing(border-box);
}

code {
  padding: 1px 3px;
  color: $grey-color-dark;
}

pre {
  padding: 8px 12px;
  width: 100%;
  margin: 20px 0;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


/**
 * Wrapper
 */
.wrapper {
  width: 50%;
  margin: 0 auto;
}

/**
 * Selection Color
 */
::selection {
  background: $grey-color-light; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

/**
 * Scroll Bar
 */
::-webkit-scrollbar { 
  display: none; 
}

/**
 * Media Query
 */
@media screen and (max-width: 700px) {
  .wrapper {
    width: 90%;
  }

  pre {
    overflow-x: scroll;
  }
}