/**
 * Site header
 */
.site-header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  padding: 25px 0 35px 0;
  @include transition(all, .25s, ease);

  &.smaller {
    padding: 24px 0 34px 0;
    background: #333333;
    opacity: .92;
    box-shadow: inset 0px -4px 6px 0px rgba(0, 0, 0, 0.15);

    .site-description, .site-title {
      color: white;
    }
  }

  .site-title {
    font-size: 35px;
    letter-spacing: -1px;
    margin-bottom: 0;
    color: $text-color;
  }

  .site-description {
    font-size:  $base-font-size;
    font-style: italic;
    color: $text-color;
  }
}

/**
 * Page content
 */
.page-content {
  display: block;
  margin: 0 auto;
  margin-top: 150px;

  &.smaller {
    margin-top: 203px;
  }
}

.page-heading {
  font-size: 20px;
}

.post {
  margin-bottom: 50px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  p {
    font-size: 24px;
    line-height: 1.7;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  background-color: #f8f8f8;
  border-radius: 2px;
  font-style: italic;
  padding: 3px 7px;
  display: inline-block;
  margin: 0 0 10px 0;
  font-weight: 400;

  @include transition(all, 0.2s, ease);

  &:hover {
    color: $grey-color-dark;
  }
}

.post-link {
  font-size: 40px;
  color: $text-color;
  line-hieght: 0;
  font-family: $base-font-family;

  &:hover {
    text-decoration: none;
  }
}

/**
 * Arrow-Right effect
 */
.post-read {
  font-size: $mediam-font-size;
  display: inline-block;
  margin: 20px 0 50px 0;
  font-style: italic;

  &:hover {
    text-decoration: none;

    .arrow-right {
      opacity: 1;
      margin-left: 0;
    }
  }

  .arrow-right {
    margin-left: -7px;
    opacity: 0;
    @include transition(all, .1s, ease);
  }
}

.post-content {
  margin-bottom: 30px;
  font-size: 24px;
}

.pagination {
  margin: 0 auto;
  text-align: center;
  padding: 3px 7px;
  margin: 20px 0 50px 0;
  color: #f8f8f8;
  
  a {
    margin: 0 3px;
    padding: 3px 7px;
  }

  em {
    background: #f8f8f8;
    color: $grey-color;
    padding: 3px 7px;
    border-radius: 2px;
  }
}

/**
 * Page fade in
 */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.4s;
  -moz-animation-duration:.4s;
  animation-duration:.4s;
}