/**
 * Site header
 */
.site-header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  padding: 30px 0;
  @include transition(all, .27s, ease);

  &.smaller {
    position: fixed;
    padding: 15px 0 25px 0;
    background: #333333;
    opacity: .92;

    .site-description, .site-title {
      color: white;
    }
  }

  .site-title {
    font-size: 35px;
    letter-spacing: -1px;
    margin-bottom: 0;
    color: $text-color;
  }

  .site-description {
    font-size:  $base-font-size;
    font-style: italic;
    color: $text-color;
  }
}

/**
 * Page content
 */
.page-content {
  display: block;
  margin: 0 auto;
  margin-top: 150px;

  &.smaller {
    margin-top: 203px;
  }
}

.page-heading {
  font-size: 20px;
}

.post {
  margin-bottom: 50px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  p {
    font-size: 24px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color-dark;
  background-color: $grey-color-light;
  border-radius: 2px;
  font-style: italic;
  padding: 3px 7px;
  display: inline-block;
  margin: 0 0 10px 0;
  font-weight: 400;

  @include transition(all, 0.2s, ease);

  &:hover {
    color: $grey-color-light;
    cursor: pointer;
    background: $grey-color-dark;
  }
}

.post-link {
  font-size: 40px;
  color: $text-color;
  line-hieght: 0;
  font-family: $base-font-family;

  &:hover {
    text-decoration: none;
  }
}

.post-read {
  font-size: $base-font-size;
  display: inline-block;
  margin: 20px 0 50px 0;

  &:hover {
    text-decoration: none;
  }

  .fa-angle-double-right {
    margin-left: 5px;
  }
}

.post-content {
  margin-bottom: 30px;
  font-size: 24px;
}

.pagination {
  text-align: center;
  padding: 20px 0 50px 0;
}

/**
 * Page fade in
 */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.4s;
  -moz-animation-duration:.4s;
  animation-duration:.4s;
}