/**
 * Site header
 */
.site-header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  padding: 30px 0;
  @include transition(all, 0.2s, ease-in-out);

  &.smaller {
    padding: 15px 0 25px 0;
    background: $brand-color;
    border-bottom: 1px solid #005bcc;
    opacity: .98;

    .site-description, .site-title {
      color: white;
    }
  }

  .site-title {
    font-size: 28px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }

  .site-description {
    font-style: italic;
    color: $text-color;
  }
}

/**
 * Page content
 */
.page-content {
  display: block;
  margin: 0 auto;
  margin-top: 160px;
  &.smaller {
    margin-top: 213px;
  }
}

.page-heading {
  font-size: 20px;
}

.post {
  margin-bottom: 50px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  p {
    font-size: 24px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color-dark;
  background-color: #ededed;
  border-radius: 2px;
  border: thin solid $grey-color;
  font-style: italic;
  padding: 3px 7px;
  margin: 0;
  display: inline-block;
  margin: 0 0 10px 0;

  @include transition(all, 0.4s, ease-in-out);

  &:hover {
    color: #ededed;
    background-color: $grey-color-dark;
    border-color: $grey-color-dark;
    box-shadow: inset 200px 0 0 0 $grey-color-dark;
  }
}

.post-link {
  font-size: 40px;
  color: $text-color;
  line-hieght: 0;
  font-family: $base-font-family;

  &:hover {
    text-decoration: none;
  }
}

.post-read {
  font-size: $base-font-size;
  display: inline-block;
  margin: 20px 0 50px 0;

  &:hover {
    text-decoration: none;
  }

  .fa-angle-double-right {
    margin-left: 5px;
  }
}

.post-content {
  margin-bottom: 30px;
  font-size: 24px;
}

/**
 * Footer content
 */
.powered-by {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: rgba(255,255,255,.9);
  padding: 4px 8px;
  border-radius: 2px;

  p {
    font-size: $small-font-size;
  }

  a {
    text-decoration: none;
    color: $brand-color;
  }
}